   <!-- Main Content -->
  <div class="main-content">
    <div class="d-flex justify-content-center align-items-center">
      <h1>OOPs</h1>
      <div class="sad-face">☹️</div>
    </div>
    <div class="error-text">
      Only Recruiter is allowed to access this page, login as recruiter to continue...
    </div>
  </div>
