<div class="d-flex align-items-center justify-content-center text-center vh-100">
  <div>
    <div class="oops-text">No Active Jobs Found</div>
    <div class="sad-face">☹️</div>
    <div class="message">We couldn't find any current job openings for this company.</div>
  </div>
</div>